*{
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth; 
}

#about{
    padding-top: 50px;
}

#service{
    padding-top: 50px; 
    background-color: #131416
}

#skill{
    padding-top: 30px; 
    background-color: #131416
}

#project{
    padding-top: 50px; 
    background-color: #131416
}
#hire{
    padding: 20px; 
    background-color: #131416
}



@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;900&display=swap');

.P0{
    padding: 0px;
}

.mt_100{
    margin-top: 110px;
}

.nav-item{
    padding: 5px 5px;
}
.nav-item a{
    font-weight: bold;
    font-size: 15px;
    color: white;
    transition: .2s;
    font-family: 'Nunito', sans-serif;
    text-transform: uppercase;
    font-weight: 800;
}

.nav-link a{
    color: white;
}

.nav-item a:hover{
    color: #DC965A;
}

.nav-item a:focus{
    color: #fff;
}



.navbar-brand{
    font-family: 'Lobster', cursive;
    font-size: 26px;
}



/* hero-part  */

.hero_area{
    background-image: url(../images/background5.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    height: 90vh;
    position: relative;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.hero_area::before{
    position: absolute;
    content:'';
    background-color: #100f0f7d;
    width: 100%;
    height: 100%;
}

.hero_data{
    color:white;
     z-index: 1;
     text-align: center;
     padding-top: 8%;
     
}
.hero_data h2{
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
}

.hero_data h1{
    font-size: 65px;
    font-family: 'Nunito', sans-serif;
}

.hero_data a{
    background-color: #a7a4a172;
    color: white;
    padding: 6px 20px;
    border-radius: 21px;
    text-decoration: none;
    font-family: 'Nunito', sans-serif;
    font-size: 13px;
}
/* about-area  */
.about_img{
    width: 450px;
    height: 460px;
    background-color: #DC965A;
    margin-left: 14%;
    margin-top: 20%;
    margin-bottom: 20%;
    
}
.about_us {
    background-color: #131416;
    
}

.about_section{
    display: flex;
    align-items: center;
}

.about_data{
    color: white;
    font-family: 'Nunito', sans-serif;
}

.about_data h1 {
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 15px;
}

.about_data h5 {
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 20px;
}

.about_data p{
    color: #a7a4a172;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 30px;
    margin-right: 37px;
}

.about_data span{
    color: #DC965A;
}


.cv_button {
    padding: 10px 25px;
    margin-top: 10px;
    background-color: #DC965A;
    font-size: 14px;
    font-weight: 700;
    
}

.about_data a {
    color: white;
text-decoration: none;
}

.about_me{
    display: flex;
}

.my_contact_info{
    /* margin-left: 75px; */
    
}

span.info{
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: #fff;
    padding-right: 15px;
}

span.data{
    font-size: 13px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    color: #a7a4a172;
    padding-left: 5px;
    
}


.about_me p{
    padding-bottom: 0px;
}


.my_info p{
    color: #ffffff;
}
.my_contact_info p{
    color: #ffffff;
}

.service_title{
    text-align: center;
    padding-top: 80px;
    background-color: #1C1D24;
    position: relative;
}

.service_title h1 {
    font-size: 35px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    color: white;
}

.service_title::before{
    content: '';
    width: 74px;
    height: 3px;
    background-color: #DC965A;
    position: absolute;
    top: 127px;
    left: 48%;
}
    

.service_title p {
    font-size: 13px;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    color: #a7a4a172;
    max-width: 500px;
}

.service_text{
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.service_area{
    background-color: #1C1D24;
    padding-bottom: 90px;
}

.service_data{
    background-color: #131416;
    padding:30px;
    margin-top: 40px;
    box-shadow: 10px 10px 10px #0095ffb8;
    transition: .2s;
   
}

.service_data:hover{
    box-shadow: 10px 10px 10px #14d947a8;
}

.service_data h3 {
    font-size: 20px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    color: white;
    padding-bottom: 10px;

}

.service_data p {
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    color: #a7a4a172;
    padding-bottom: 20px;
}


.service_data i{
    font-size: 45px;
    color: #DC965A;
    padding-top: 30px;
    padding-bottom: 23px;
}

.bg_color{
    background-color: #1C1D24;
    padding-bottom: 60px;
}
.project_data{
    background-color: #131416;
    padding: 30px;
    transition: .3s;
    overflow: hidden;
}

.project_margin{
    margin-top: 25px;
    margin-left: 24%;
    margin-bottom:40px;
}


.project {
   max-height: 410px;
   transition: .3s;
}

.project img {
    transition: .3s;
}

.project_img{
    overflow: hidden;
}

.project:hover img{
    transform: scale(1.1);
}


.project h3{
    color: #DC965A;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 15px;
}

.project p{
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 10px;
}

.bg_hire{
    background-color: #131416;
    padding: 110px 0px;
}
.hire_data{
    display: flex;
    justify-content: center;
    align-items:center ;
}

.hire_me{
    text-align: center;
}

.hire_me p {
    color: #DC965A;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size:42px;
    font-weight: 600;
    padding-bottom: 30px;
}

.hire_btn{
    padding: 12px 32px;
    background-color: #DC965A;
    color: #ffffff;
    text-decoration: none;
    margin-top: 40px;
}

.hire_btn a{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.icons{
    font-size: 20px;
}

.icons i {
    color:#ffffff;
    padding-left: 5px;
}

.bg_footer{
    background-color: #1C1D24;
}

.copyright{ 
    color: #ffffff;
    padding-top: 3px;

}

/* skill_area  */
.bg_edu{
    background-color: #131416;
}
.qualification{
    padding: 120px 0px 60px 0px;
}

.edu{
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    position:relative;
    color: #ffffff;
}

.edu::before{
    content: "";
    width: 45px;
    height: 5px;
    position: absolute;
    background-color: #dc5a5a;
    left: 0px;
    bottom: -12px;
}

.education_area {
    background-color: #DC965A;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
    
}

.edu_border{
    border-bottom: 1px dashed;
    margin-bottom: 20px;

}

.education_data h4{
    font-size: 11px;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 6px;


}
.year{
    background-color: #131416;
    text-align: center;
    max-width: 100px;
    padding: 4px 0px;

}

.education_data h2{
    font-size: 21px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
    padding-bottom: 2px;

}
.education_data p{
    font-size: 15px;
    font-weight: 500;
    font-family: 'Nunito', sans-serif;
    color: #ffffff;
}



.experience_area {
    background-color: #1C1D24;
    padding-left: 20px;
    padding-top: 20px;
    margin-top: 40px;
    padding-right: 20px;
    padding-bottom: 20px;
    
}


.ex_year{
    background-color: #DC965A;
    text-align: center;
    max-width: 100px;
    padding: 4px 0px;

}

.skill_data{
    padding-bottom: 24px;
}

.skill_data h3{
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
}
.skill_bar{
    width: 100%;
    height: 8px;
    position: relative;
    margin-top: 20px;
}

.project-icon i{
    font-size: 60px;
    color: #ffffff;
}

.skill_bar::before{
    content:"";
    width: 92%;
    height: 8px;
    background-color: #DC965A;
    position: absolute;
    top: 0px;
    left: 0px;
}

.skill_bar::after{
    content: "92%";
    position: absolute;
    top: -22px;
    right: 21px;
    width: 20px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    font-family: 'Nunito'sans-serif;
}

.contact_area{
    background: linear-gradient(90deg, rgba(26,26,26,1) 40%, rgba(19,20,22,1) 40%);
    max-width: 100%;
    max-height: 800px;
}

.input_50{
    width: 270px;
    padding: 6px 5px;
    
}
.space{
    margin-right: 20px;
}

input{
    margin-bottom: 25px;
    background-color: #131416;
    border: 2px solid #DC965A ;
    color: #ed0e0e;
    font-family: 'Nunito'sans-serif;
    font-size: 15px; 
    
}

textarea{
    margin-bottom: 25px;
    padding: 6px 5px;
    background-color: #131416;
    border: 2px solid #DC965A;
    font-family: 'Nunito'sans-serif;
    font-size: 15px; 
    color: #ffffff;
    
}
input::placeholder{
    color: #ffffff;
    font-family: 'Nunito'sans-serif;
    font-size: 15px; 
}
textarea::placeholder{
    color: #ffffff;
    font-family: 'Nunito'sans-serif;
    font-size: 15px; 
}

textarea:focus{
    outline: 0px;
}

input:focus{
    outline: 0px;
}

.input_100{
    width: 564px;
    padding: 6px 5px;
}

.button{
    background-color: #DC965A;
    color: #ffffff;
    text-decoration: none;
    /* padding: 15px 20px 15px 20px; */
    padding: 12px 20px;

}

.bg-con{
    background-color: #1C1D24;
    /* margin-top: 110px; */
    margin-left: 25px;
    /* margin-bottom: 110px; */
}


.contact_form{
    padding: 30px 25px;
}

.contact_form h2{
    font-family: 'Nunito'sans-serif;
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 20px;
    color: #fff;
    position: relative;
    padding-bottom: 25px;
}

.contact_me::before{
    content:"";
    width: 8%;
    height: 4px;
    background-color: #DC965A;
    position: absolute;
    bottom: 5px;
    left: 0px;
}

.contact_data{
    margin-bottom: 80px;
    /* position: relative; */
    padding-left: 14%;
}
.contact_details{
    font-family: 'Nunito'sans-serif;
    font-weight: 600;
    font-size: 25px;
    padding-bottom: 20px;
    color: #fff;
    position: relative;
    padding-bottom: 25px;
    padding-left: 14%;
}

.contact_details::before{
    content: "";
    width: 8%;
    height: 4px;
    background-color: #DC965A;
    position: absolute;
    bottom: 5px;
    left: 15%;
}
.contact_info{
    /* margin-top: 110px; */
    /* padding-left: 200px; */
    /* padding-top: 40px; */
}

.icon{
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: red;
    font-size: 28px;
    text-align: center;
    padding: 2%;
    position: relative;

}

.text textarea {
    width: 100%;
    height: auto;
}

.contact_data p{
    color: #DC965A;
}



.icon_data{
    font-family: 'Nunito'sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: #dc5a5a;
    width: 165px;
    display: block;
    position: absolute;
    right: -182px;
    top: -1px;
    text-align: initial;
}
 
@media (min-width:300px) { 
    .project_margin {
        margin-left: 0px;
    }
}